@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --verde1:   #41927C;
    --verde2:   #3EB595;
    --verde3:   #74DBBF;

    --amarelo1: #EAE151;
    --amarelo2: #FFF447;
    --amarelo3: #FFF77B;

    --preto1:   #2D3936;
    --branco1:  #FFFEED;
}

.body-adm{
    display: flex;
    flex-direction: row;
}

.barralateral-adm{
    height: 100vh;
    width: 7%;
    background-color: var(--amarelo3);
}

.organizar-adm{
    width: 93%;
    height: 100;
    background-color: #FFFEE8;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-adm{
    width: 100%;
    height: 12vh;
    /* background-color: red; */
}
.header-meio0-adm{
    width: 100%;
    height: 60%;
    /* background-color: royalblue; */

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.header-meio1-adm{
    width: 100%;
    height: 40%;
    /* background-color: salmon; */

    display: flex;
    flex-direction: row;
}

.area-bolinha-adm{
    width: 33.3%;
    height: 100%;
    /* background-color: seagreen; */
    display: flex;
    justify-content: center;
}

.bolinha-adm{
    height: 12px;
    width: 12px;
    background-color: black;
    border-radius: 50%;

    margin-top: 5px;
}

.a-adm{
    color: var(--verde2);
    font-size: 32px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Rajdhani;

    transition: 0.2s;
}

.a-adm:hover{
    color: var(--amarelo1);
}

.nova-sala-adm{
    /* background-color: #3EB595; */
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.form-sala-nova-sala-adm{
    margin-top: 20px;
    height: 70%;
    width: 80%;
    /* background-color: rgb(243, 236, 236); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    
}
.input-adm::placeholder {
    text-transform: capitalize;
    color: var(--verde1);
    opacity: 1;
  }

.input-adm{
    /* display: flex;
    align-items: flex-end; */
    background-color:  #FFFEE8;
    border-bottom: solid black 1px;

    width: 80%;
    height: 33%;

    text-align: center;
    font-family: Josefin Sans;
    color: var(--verde1);
    font-weight: bold;
    font-size: 36px;

}
.info


.lista-adm{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    
    }
    
.btn-adm{
    height: 40%;
    width: 100%;
    /* background-color: yellowgreen; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
}

.btn-adm button{
    width: 250px;
    height: 70px;

    background-color: var(--verde1);
    border-radius: 82px;

    font-size: 40px;
    font-family: Rajdhani;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--amarelo2);

    transition: 0.5s;
}

.btn-adm button:hover{
    color: white;
    background-color: var(--verde2);
}
.h2-adm{
    color: var(--verde2);
    font-size: 32px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Rajdhani;

}

.novo-equip-adm{
width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-lista-adm button{
    width: 250px;
    height: 70px;

    background-color: var(--verde1);
    /* border-radius: 82px; */

    font-size: 40px;
    font-family: Rajdhani;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--amarelo2);

    transition: 0.5s;
}

.lista-desc-adm{


font-family: Josefin Sans;
font-size: 36px;
line-height: 36px;
color: #000000;
}

.alterações-adm{
    font-family: Josefin Sans;
font-size: 36px;
line-height: 36px;

color: #000000;
}

.nome-sala{
font-family: Rajdhani;
font-style: normal;
font-weight: normal;
font-size: 96px;
line-height: 122px;
color: #3EB595;
text-align: center;

  margin: 20px 0;
  padding: 10px;
}

