@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --verde1:   #41927C;
    --verde2:   #3EB595;
    --verde3:   #74DBBF;

    --amarelo1: #EAE151;
    --amarelo2: #FFF447;
    --amarelo3: #FFF77B;

    --preto1:   #2D3936;
    --branco1:  #FFFEED;
}
.body-sa{
    display: flex;
    flex-direction: row;
}

.barralateral-sa{
    height: auto;
    width: 7%;
    background-color: var(--amarelo3);
}

.organizar-sa{
    width: 93%;
    height: 100;
    background-color: #FFFEE8;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-sa{
    width: 100%;
    height: 12vh;
    /* background-color: red; */
}
.header-meio0-sa{
    width: 100%;
    height: 60%;
    /* background-color: royalblue; */

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.header-meio1-sa{
    width: 100%;
    height: 40%;
    /* background-color: salmon; */

    display: flex;
    flex-direction: row;
}

.area-bolinha-sa{
    width: 33.3%;
    height: 100%;
    /* background-color: seagreen; */
    display: flex;
    justify-content: center;
}

.bolinha-sa{
    height: 12px;
    width: 12px;
    background-color: black;
    border-radius: 50%;

    margin-top: 5px;
}

.a-sa{
    color: var(--verde2);
    font-size: 32px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Rajdhani;

    transition: 0.2s;
}

.a-sa:hover{
    color: var(--amarelo1);
}

.main-sa{
    width: 100%;
    height: auto;
    /* background-color: red; */

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.meio-main-sa{
    width: 100%;
    height: auto;
    /* background-color: aqua; */

    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}

#customers{
    width: 70%;
    height: 100%;
    border-collapse: collapse;
}

.tr-sa:nth-child(even){background-color: var(--verde3);}

.tr-sa:hover {background-color: #3eb59550}

#customers td, #customers th {
    padding: 8px;
    border-bottom: black 2px solid;
  }

.td-sa{
    font-family: Josefin Sans;
    font-size: 20px;
    font-weight: bold;
}

.th-sa {
    padding: 8px;
    text-align: left;


    background-color: #04AA6D;
    color: white;
    
    text-align: left;
    
    font-size: 40px;
    font-weight: bold;
    font-family: Josefin Sans;
}
