@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root{
    --verde1:   #41927C;
    --verde2:   #3EB595;
    --verde3:   #74DBBF;

    --amarelo1: #EAE151;
    --amarelo2: #FFF447;
    --amarelo3: #FFF77B;

    --preto1:   #2D3936;
    --branco1:  #FFFEED;
}

.body-hm{
    display: flex;
    flex-direction: row;
}

.barralateral-hm{
    height: 100vh;
    width: 7%;
    background-color: var(--amarelo3);
}

.organizar-hm{
    width: 93%;
    height: 100;
    background-color: #FFFEE8;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header-hm{
    width: 100%;
    height: 12vh;
    /* background-color: red; */
}
.header-meio0-hm{
    width: 100%;
    height: 60%;
    /* background-color: royalblue; */

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.header-meio1-hm{
    width: 100%;
    height: 40%;
    /* background-color: salmon; */

    display: flex;
    flex-direction: row;
}

.area-bolinha-hm{
    width: 33.3%;
    height: 100%;
    /* background-color: seagreen; */
    display: flex;
    justify-content: center;
}

.bolinha-hm{
    height: 12px;
    width: 12px;
    background-color: black;
    border-radius: 50%;

    margin-top: 5px;
}

.a-hm{
    color: var(--verde2);
    font-size: 32px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-family: Rajdhani;

    transition: 0.2s;
}

.a-hm:hover{
    color: var(--amarelo1);
}

.main-hm{
    height: 85vh;
    width: 100%;
    /* background: blue; */

    display: flex;
    flex-direction: row;
}

.meio1-hm{
    height: 100%;
    width: 60%;
    /* background-color: black */
}

.meio2-hm{
    height: 100%;
    width: 40%;
    /* background-color: blueviolet; */

    display: flex;
    align-items: center;
    justify-content: center;
}

.up-hm{
    height: 40%;
    width: 100%;
    /* background-color: burlywood; */

    display: flex;
    justify-content: center;
}

.down-hm{
    height: 60%;
    width: 100%;
    /* background-color: cadetblue; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.up-img-hm{
    width: 70%;
    height: 100%;
}

.h1-hm{
    font-size: 50px;
    color: var(--verde2);
    font-family: Rajdhani;
}

.p-hm{
    font-size: 24px;
    color: var(--verde1);
    font-family: Rajdhani;
    font-weight: bold;

    text-align: center;
}

.meio2-img-hm{
    height: 85%;
    width: 60%;
}